<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="isMember" resultType="boolean" parameterType="String">
		select 1 from p_member where email = #{email}
	</select>
	
	<select id="isAuth" resultType="boolean" parameterType="String">
		select 1 from p_member where email = #{email} and auth = 1
	</select>
	
	<select id="authenticate">
		update p_member set auth = 1 where email = #{email}
	</select>
	
	<select id="login" parameterType="hashmap" resultType="shop.noldaga.member.vo.Member">
		SELECT EMAIL, NAME, RATING, TEL, ADDRESS, PW, auth FROM p_MEMBER WHERE EMAIL=#{email} AND PW=#{pw}
	</select>
	
	<insert id="join" parameterType="shop.noldaga.member.vo.Member">
		INSERT INTO p_member(email, pw, name, address, tel ,rating) VALUES(#{email},#{pw},#{name},#{address},#{tel},#{rating})
	</insert>
	
	<delete id="resign">
		DELETE p_MEMBER WHERE EMAIL = #{email}
	</delete>
	
	<update id="mypage" parameterType="shop.noldaga.member.vo.Member">
		update p_member set name=#{name},tel=#{tel},address=#{address} where email=#{email}
	</update>
	
</mapper>
